/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container{
  padding: 0 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header{
  background: #202020;
  padding: 0.8em 0;
}

.social{
  float: right;
}

.social i{
  color: #fff;
  margin-right: 5px;
}

.social i:hover{
  color: #B3D4FC;
}

.logo{
  float: left;
  color: #C2C2C2;
  font-size: 1.1em;
  font-weight: 100;
  text-decoration: none;
}

.logo:hover{
  color: #fff;
}

.hero{
  background: url(../img/hero-bg.jpg) center center no-repeat;
  background-size: cover;
}

.hero .container{
  text-align: center;
  color: #fff;
  display: table;
  width: 100%;
}

.hero .container .inner{
  display: table-cell;
  vertical-align: middle;
}

.hero .title{
  font-size: 4em;
  font-weight: 200;
  line-height: 1.2em;
  text-transform: uppercase;
}

.hero .title small{
  font-size: inherit;
  font-weight: 100;
}

.hero .description{
  font-weight: 200;
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.78);
}

.hero h1,
.hero h3{
  margin: 0; 
}

.main .row{
  margin: 3em 0;
}

.main .col .header{
  font-size: 1.4em;
  font-weight: 200;
  color: #555;
  margin: 0;
}

.main .col{
  width: 33%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  color: #999;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
}

.main .col .icon{
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 0.2em;
  color: #69B9FF;
}

.main a:link,
.main a:visited{
  color: #37A2FF;
  border-bottom: 1px dotted #37A2FF;
  text-decoration: none;
}

.main a:hover{
  border-bottom: 0px;
}

.main-wrapper{
  min-height: 100%;
  height: auto !important;
  margin: 0px auto -85px;
}

.main-wrapper:after{
  content: "";
  display: block;
}

footer, .main-wrapper:after{
  height: 85px;
}

footer{
  background: #2C2C2C;
  text-align: center;
}

footer .container{
  color: #727272;
  font-size: 0.9em;
  font-weight: 100;
  margin-top: 33px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
  .main .col{
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .main .col{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
  }

  .hero .title{
    font-size: 3em;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
